@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --base-color: oklch(0.9088 0.0404 86.53);
    --text-color: oklch(0.2374 0.0404 91.87);
    --primary-color: oklch(0.3297 0.0933 139.41);
    --secondary-color: oklch(0.8694 0.0432 91.87);
    --extra-color: oklch(0.549 0.0586 91.87);
    --border-radius-px: 25px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-family: "Playfair Display", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color)
}

body{
    padding:  var(--border-radius-px);
    background-color: var(--base-color);
}

h1, h2, h3 {
    font-family: "Playfair Display";
}

nav {
    
    width: min(100%, 100%);
    padding: var(--border-radius-px);
}

nav ul {
    display: flex;
    align-items: top;
    list-style: none;
    gap: var(--border-radius-px);
    font-weight: bold;
    text-align: center;
}

nav li:first-child {
    margin-right: auto;
    font-family: "Playfair Display";
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    text-decoration: underline;
    
}

header, section{
    margin-bottom: var(--border-radius-px);
    width: min(75em, 100%);
    background-color: var(--secondary-color);
    padding: 0em;
    border-radius: var(--border-radius-px);
}

.flex-container {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--border-radius-px);
}

header img {
    max-width: 50%;
    
    object-fit: scale-down;
    object-position: Top;
    padding: var(--border-radius-px);
}

.text-container {
    /* flex: 1em 0em 1em 0; */
    padding: var(--border-radius-px);
    
}


/* .text-container p{
    margin: 1em 0 1em 0;
    font-size: 1.25rem;
} */

.projects-button {
    display: inline-block;
    text-justify: center;
    text-decoration: none;
    color: var(--base-color);
    background-color: var(--extra-color);
    padding: 0.5em;
    border-radius: var(--border-radius-px);
    font-size: max(1.75em, 2em);
    font-weight: 600;
}

.secondary {
    background-color: aquamarine;
}

section {
    padding: 0em;
}